.dark .testcases-viewer-container {
    background-color: #121212;
    color: #e0e0e0;
}

.dark .testcases-viewer-case-container {
    background-color: #1e1e1e;
    border: 1px solid #333;
}

.dark .testcases-viewer-case-container pre {
    background-color: #2d3436;
    border: 1px solid #444;
    color: #e0e0e0;
}
